@include media-breakpoint-up(lg) {
  //clients{
  .logo {
    right: 0!important;
    bottom: -40% !important;
  }
  .blackWhite{
    -webkit-filter: contrast(0); /* Safari 6.0 - 9.0 */
    filter: contrast(0);
    &:hover{
      -webkit-filter: contrast(1); /* Safari 6.0 - 9.0 */
      filter: contrast(1);
    }
  }
  .swiper2 {
    .swiper-slide img,
    .swiper-slide-active .ratio{
      transition: all 0.3s ease-in-out;
    }
    //.swiper-slide-active .ratio{
    //  margin-bottom: 20px!important;
    //}
    .swiper-slide-active img{
      height: 290px;
      object-fit: cover;
    }
  }

}

@include media-breakpoint-down(lg) {
  .top-menu {
    top: 25px;
    img {
      width: 50px
    }
  }
}

@include media-breakpoint-down(xl) {

}

@include media-breakpoint-down(sm) {
  .fs-1 {
    font-size: calc(1.325rem + 1.4vw) !important;
  }

  .fs-2 {
    font-size: calc(1.275rem + 0.8vw) !important;
  }

  .fs-3 {
    font-size: calc(1.25rem + 0.5vw) !important;
  }

  .fs-4 {
    font-size: calc(1.225rem + 0.2vw) !important;
  }

  .fs-5 {
    font-size: 1.2rem !important;
  }

  .fs-6, p, span {
    font-size: 0.95rem !important;
    line-height: 1.7;
  }

  small, .small {
    font-size: 0.875rem !important;
  }

}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-down(md) {
  .logo {
    left: -43%!important;
    bottom: -55% !important;
  }
  .cta-footer {
    overflow-x: scroll;
  }
  .vh-80 {
    min-height: 100vh;
  }

  .line-min {
    transform: rotate(90deg);
  }
  .portfolio-main{
    overflow: hidden;
    height: 90vh;
  }
  .small-md-down {
    //font-size: $small-font-size !important;
  }
  .top-menu {
    right: 5%;
    top: 20px;
    left: unset;
  }
}
