//custom animated background
.custom-background {
  z-index: 2;
  background-color: #1D0F30;
}

.custom-background .box-1 {
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background: #00DAD0;
  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  right: -130px;
  bottom: -130px;
  opacity: 0.3;
  animation: circling 25s infinite alternate;
}

@keyframes circling {
  0% {
    transform: translate3d(-164px, -120px, 120px) scale(1.9);
  }
  100% {
    transform: translate3d(-1162px, 145px, -138px) scale(0.9);
  }
}

@keyframes circling2 {
  0% {
    transform: translate3d(164px, 120px, -120px) scale(0.9) rotate(10deg);
  }
  100% {
    transform: translate3d(1272px, -105px, 238px) scale(1.9) rotate(120deg);
  }
}

.custom-background .box-2 {
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background: #4C5098;
  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  left: -130px;
  top: -130px;
  opacity: 0.3;
  animation: circling2 15s infinite alternate
}

//background effect for buttons
.frame {
  transform: scale(.3);
  z-index: -1;
}

.b1 {
  width: 100px;
  height: 150px;
  transform: translate(-30%, -50%) rotateZ(0deg);
  transform-origin: center;
  animation: b1 5s linear infinite;
  filter: blur(50px);

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-400%, -50%);
    width: 55px;
    height: 55px;
    background: white;
    border-radius: 50%;
  }
}

@keyframes b1 {
  0% {
    transform: translate(-30%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-30%, -50%) rotateZ(360deg);
  }
}

.b2 {
  width: 100px;
  height: 250px;
  filter: blur(50px);
  transform: translate(-100%, -50%) rotateZ(0deg);
  transform-origin: center;
  animation: b2 3s linear infinite;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(300%, -50%);
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
  }
}

@keyframes b2 {
  0% {
    transform: translate(-130%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-130%, -50%) rotateZ(360deg);
  }
}

.b3 {
  width: 300px;
  height: 100px;
  filter: blur(54px);
  transform: translate(-50%, -50%) rotateZ(0deg);
  transform-origin: bottom;
  animation: b3 4s linear infinite;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-300%, -50%);
    width: 37px;
    height: 37px;
    background: white;
    border-radius: 50%;
  }
}

@keyframes b3 {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

.b4 {
  width: 300px;
  height: 100px;
  filter: blur(40px);
  transform: translate(-50%, -150%) rotateZ(0deg);
  transform-origin: bottom;
  animation: b4 5s linear infinite;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-300%, -150%);
    width: 52px;
    height: 52px;
    background: white;
    border-radius: 50%;
  }
}

@keyframes b4 {
  0% {
    transform: translate(-50%, -150%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -150%) rotateZ(360deg);
  }
}

.b5 {
  width: 100px;
  height: 200px;
  filter: blur(30px);
  transform: translate(-100%, -20%) rotateZ(0deg);
  transform-origin: top;
  animation: b5 5s linear infinite;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-210%, -90%);
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 50%;
  }
}

@keyframes b5 {
  0% {
    transform: translate(-60%, -20%) rotateZ(0deg);
  }
  100% {
    transform: translate(-60%, -20%) rotateZ(360deg);
  }
}

.siri {
  bottom: 60px;
  left: 60px;
  transform: scale(0.1);
  transition: 0.3s all;
  cursor: pointer;
}

.siri:hover {
  transform: scale(0.2);
}

.mic {
  color: #fff;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    z-index: 2;
    box-shadow: 0 0 20px 20px #1c084f;
  }

  &::before {
    width: 400px;
    height: 400px;
    background-color: #1a084e;
  }

  &::after {
    width: 250px;
    height: 250px;
    background-color: #2f1e5f;
    animation: circle-size 0.8s linear infinite alternate;
  }

  &-icon {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(5);
    display: block;
    width: 16px;
    height: 12px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    border: 2px solid;
    border-top: 0;
    margin-top: 20px;
    z-index: 3;

    &::before,
    &::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
    }

    &::before {
      width: 2px;
      height: 5px;
      top: calc(100% + 1px);
      left: 50%;
      transform: translate(-50%, 0);
      background-color: #fff;
    }

    &::after {
      border: 2px solid;
      width: 8px;
      height: 18px;
      left: 50%;
      top: -10px;
      border-radius: 4px;
      transform: translate(-50%, 0);
    }
  }

  &-shadow {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    //transform: translate(-50%, -50%);
    border-radius: 100%;
    z-index: 1;
    box-shadow: 10px -55px 30px 15px #823ca6, 24px -10px 47px 10px #aab3d2, -21px -25px 97px 10px #5acee3, 51px 5px 17px 10px #1b7d8f, 3px 2px 77px 10px #f30bf5;
    animation: shadow-rotate 1.5s linear infinite;
    transform-origin: center;
  }
}

@keyframes circle-size {
  from {
    width: 250px;
    height: 250px;
  }
  to {
    width: 300px;
    height: 300px;
  }
}


@keyframes shadow-rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

//404
.page404 .wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.page404 h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 150px;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  display: block;
  color: #12000a;
  font-weight: 800;
  text-shadow: 0px 0px 4px #12000a;
  animation: fadeInText 3s ease-in 3.5s forwards, flicker4 5s linear 7.5s infinite, hueRotate 6s ease-in-out 3s infinite;
}

#svgWrap_1,
#svgWrap_2 {
  position: absolute;
  height: auto;
  width: 600px;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#svgWrap_1,
#svgWrap_2,
{
  animation: hueRotate 6s ease-in-out 3s infinite;
}

#id1_1,
#id2_1,
#id3_1 {
  stroke: #ff005d;
  stroke-width: 3px;
  fill: transparent;
  filter: url(#glow);
}

#id1_2,
#id2_2,
#id3_2 {
  stroke: #12000a;
  stroke-width: 3px;
  fill: transparent;
  filter: url(#glow);
}

#id3_1 {
  stroke-dasharray: 940px;
  stroke-dashoffset: -940px;
  animation: drawLine3 2.5s ease-in-out 0s forwards, flicker3 4s linear 4s infinite;
}

#id2_1 {
  stroke-dasharray: 735px;
  stroke-dashoffset: -735px;
  animation: drawLine2 2.5s ease-in-out 0.5s forwards, flicker2 4s linear 4.5s infinite;
}

#id1_1 {
  stroke-dasharray: 940px;
  stroke-dashoffset: -940px;
  animation: drawLine1 2.5s ease-in-out 1s forwards, flicker1 4s linear 5s infinite;
}

@keyframes drawLine1 {
  0% {
    stroke-dashoffset: -940px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes drawLine2 {
  0% {
    stroke-dashoffset: -735px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes drawLine3 {
  0% {
    stroke-dashoffset: -940px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes flicker1 {
  0% {
    stroke: #ff005d;
  }
  1% {
    stroke: transparent;
  }
  3% {
    stroke: transparent;
  }
  4% {
    stroke: #ff005d;
  }
  6% {
    stroke: #ff005d;
  }
  7% {
    stroke: transparent;
  }
  13% {
    stroke: transparent;
  }
  14% {
    stroke: #ff005d;
  }
  100% {
    stroke: #ff005d;
  }
}

@keyframes flicker2 {
  0% {
    stroke: #ff005d;
  }
  50% {
    stroke: #ff005d;
  }
  51% {
    stroke: transparent;
  }
  61% {
    stroke: transparent;
  }
  62% {
    stroke: #ff005d;
  }
  100% {
    stroke: #ff005d;
  }
}

@keyframes flicker3 {
  0% {
    stroke: #ff005d;
  }
  1% {
    stroke: transparent;
  }
  10% {
    stroke: transparent;
  }
  11% {
    stroke: #ff005d;
  }
  40% {
    stroke: #ff005d;
  }
  41% {
    stroke: transparent;
  }
  45% {
    stroke: transparent;
  }
  46% {
    stroke: #ff005d;
  }
  100% {
    stroke: #ff005d;
  }
}

@keyframes flicker4 {
  0% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  30% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  31% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  32% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  36% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  37% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  41% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  42% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  85% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  86% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  95% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  96% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  100% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
}

@keyframes fadeInText {
  1% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  70% {
    color: #ff005d;
    text-shadow: 0px 0px 14px #ff005d;
  }
  100% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
}

@keyframes hueRotate {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(-120deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(60px);
  }
}

svg #wheel {
  animation: scroll ease 2s infinite;
}


canvas {
  display: block;
}

#canvas_container {
  width: 100%;
  height: 100vh;
}
