//
// Base styles
//

.btn {
    display: inline-block;
    font-family: $btn-font-family;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    color: $body-text;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
    @include transition($btn-transition);
    outline: 0 !important;

    &:disabled,
    &.disabled,
    fieldset:disabled & {
        pointer-events: none;
        opacity: $btn-disabled-opacity;
        @include box-shadow(none);
    }
}

////button mixins
//@mixin button-variant($color) {
//    background-color: $color;
//
//    &:hover {
//        box-shadow: none;
//        background: transparent;
//        border: 1px solid #fff;
//        color: #ffffff !important;
//
//        svg path {
//            stroke: #fff;
//        }
//    }
//}
//
//
//@each $color, $value in $button-colors {
//    .btn-#{$color} {
//        @include button-variant($value);
//    }
//}

.gradient{
    color: #fff !important;
    font-weight: 700;
    background-image: linear-gradient(to right, rgba(0, 211, 190, 0.7) 0%, rgba(75, 80, 152, 0.7) 0%, #2A7FD6, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    &:hover, &:focus {
        background-position: -100% 0;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
}