//
// Base styles
//

.btn {
    display: inline-block;
    font-family: $btn-font-family;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    color: $body-text;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
    @include transition($btn-transition);
    outline: 0 !important;
    z-index: 1;
    position: relative;
    &:disabled,
    &.disabled,
    fieldset:disabled & {
        pointer-events: none;
        opacity: $btn-disabled-opacity;
        @include box-shadow(none);
    }
}
.btn-dark{
    @extend .bg-danger, .text-white, .lazy, .border-1, .border-danger;
    &:hover{
        @extend .bg-white,.text-danger, .border-danger;
    }
}
.btn-white{
    @extend .bg-white, .text-danger, .lazy, .border-1, .border-danger;
    &:hover{
        @extend .bg-secondary,.text-danger, .border-secondary;
    }
}
