//COLOR
$body-color: #5E6972;
$body-bg: #f1f1f1;
$body-text: #5E6972;
$light: rgba(255, 255, 255, 0.5);
$dark: rgba(26, 25, 29, 0.95);


$gunmetal: #2B303E;

$primary: #408BE1;
$secondary: #6be3bd;
$warning: #fbbb01;
$success: #F1F5F9;
$danger :  #000000;
$info : #03000c;
$white: #f1f1f1;
$transparent: #ffffff;

//border radius
$border-radius: 10px;
$border-radius-sm: 15px;
$border-radius-lg: 30px;

//base class variables
$transition-base: all .4s;
$transition-fast: all .2s ease-in-out;
$transition: all .4s ease-in-out;
$transition-slow: all .6s;

//FONTS
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-semibold: 700;
$font-weight-bolder: 900;
$font-weight-base: $font-weight-normal;

$min-contrast-ratio: 2.5;
$font-family-base: Peyda, 'sans-serif', 'Nunito';
$font-size-base: 1.3rem * (14/16);
$small-font-size: .875rem  * (14/16);
$line-height-base: 1.5;
$line-height-lg: 1.7;
$enable-smooth-scroll: true;
$enable-negative-margins: true;
$stretched-link-z-index: 1;


//link
$link-decoration: none;
$link-hover-decoration: none;
$link-color: #fff;

