@font-face {
    font-family: Kalameh;
    font-style: normal;
    font-weight: bold;
    url('woff/KalamehWebFaNum-Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('woff2/KalamehWebFaNum-Black.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('ttf/KalamehFaNum-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Kalameh;
    font-style: normal;
    font-weight: 100;
    url('woff/KalamehWebFaNum-Thin.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('woff2/KalamehWebFaNum-Thin.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('ttf/KalamehFaNum-Thin.ttf') format('truetype');
}

@font-face {
    font-family: Kalameh;
    font-style: normal;
    font-weight: normal;
    url('woff/KalamehWebFaNum-Regular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('woff2/KalamehWebFaNum-Regular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('ttf/KalamehFaNum-Regular.ttf') format('truetype');
}


@font-face {
    font-family: Kalameh;
    font-style: normal;
    font-weight: 800;
    url('woff/KalamehWebFaNum-Black.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('woff2/KalamehWebFaNum-Black.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('ttf/KalamehFaNum-Black.ttf') format('truetype');
}
